@media screen and (max-width: 1024px){
	.nav-toggle-btn {
	    display: flex;
	}
	.nav-items-wrapper .nav-list {
	    flex-direction: column;
	    position: fixed;
	    right: -100%;
	    top: 70px;
	    padding-top: 10px;
	    display: block;
	    width: 300px;
	    height: 100vh;
	    background: #ffffff;
	    align-items: flex-start;
	    z-index: 99;
	    overflow: hidden;
	    transition: all .5s ease;
	    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.nav-item-link{
		font-size: 16px;
		color: #000;
		padding: 10px;
	}
	.nav-items-wrapper.menu-visible .nav-list {
	    right: 0;
	    transition: all .5s ease;
	}
	.nav-list .nav-item {
	    height: auto;
	    display: block;
	    border-bottom: 1px solid #f4f4f4;
	}
}

@media screen and (max-width: 991px){
	.slider-content-outer .slider-title {
	    font-size: 45px;
	    line-height: 45px;
	}
	.slider-content-outer .slider-text {
	    margin: 10px 0;
	}
	.section-title-outer .section-title {
	    font-size: 30px;
	}
	.about-sec-left {
	    margin-bottom: 20px;
	}
	.subcription-info-wrap {
	    display: block;
	    text-align: center;
	}
	.subcription-info-left {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.subcription-info-right {
	    width: 100%;
	}
	.subcription-info-left-text {
	    font-size: 22px;
	}
	.blog-item-content {
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.blog-item-title {
	    font-size: 20px;
	}
	.blog-bottom-link {
	    font-size: 14px;
	}
	.footer-item-outer {
	    margin-bottom: 30px;
	}	
}

@media screen and (max-width: 767px){
	.slider-image-outer {
	    margin-top: 15px;
	}
	.testimonial-section {
	    padding-bottom: 20px;
	}
	.testimonial-image-outer {
	    margin-bottom: 20px;
	}
	.team-social-list-item-link {
	    width: 25px;
	    height: 25px;
	    line-height: 25px;
	}
	.team-social-list-item-link i {
	    font-size: 13px;
	}
	.team-social-list {
	    margin-bottom: 10px;
	}
	.footer-section {
	    padding-top: 40px;
	    padding-bottom: 0;
	}
}

@media screen and (max-width: 620px){
	
}